/* 1 */
:root {
  --font-color: #333;
  --background-color: hsl(0, 0%, 98%);
  --background: #eee;
  --link-color: cornflowerblue;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #FFF;
  --background-color: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --link-color: lightblue;
}

/* 3 */
body {
  background-color: var(--background);
  color: var(--font-color);
}

a {
  color: var(--font-color);
}

/* Header, Card and TextField */
.header-main, .card, .textField {
  background-color: var(--background-color);
  color: var(--font-color);
}

.select, .textField {
  box-shadow: 0px 0px 1px grey;
  border-radius: 4px;
}

.textField .MuiInputBase-root {
  color: var(--font-color);
}

.textField .MuiInputAdornment-root {
  color: var(--font-color);
}

/* Select */
.select .css-1s2u09g-control  {
  background-color: var(--background-color);
}

.select .css-qc6sy-singleValue {
  color: var(--font-color);
}

.select #react-select-3-listbox {
  background-color: var(--background-color);
}

.select .css-1pahdxg-control {
  background-color: var(--background-color);
}

.select .css-2613qy-menu {
  background-color: var(--background-color);
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}