body {
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, p, a {
  margin: 0;
  padding: 0;
}