.main-content {
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content input  {
  padding: 10px;
}

.select .css-1s2u09g-control, .css-1pahdxg-control {
  padding: 12px;
  border: none;
}

.select .css-1pahdxg-control:hover {
  border: none;
  box-shadow: none;
}

.select .css-1pahdxg-control {
  border: none;
  box-shadow: none;
}

.select .css-1okebmr-indicatorSeparator {
  display: none;
}

.select .css-tlfecz-indicatorContainer:hover {
  color: hsl(0, 0%, 80%);
}

.select .css-1gtu0rj-indicatorContainer:hover {
  color: hsl(0, 0%, 80%);
}