.header-main {
  box-shadow: 0 -5px 10px black;
  height: 80px;
}

h1 {
  padding: 20px 0;
  font-size: 26px;
}

.main-content {
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content input {
  max-width: 100%;
}

/* Card */

.card {
  margin-top: 40px;
  width: 18rem;
  background: hsl(0, 0%, 98%);
  border-radius: 5px;
}

.card__body {
  padding: 20px;
}

.card img {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card h2 {
  margin-top: 0;
  font-size: 16px;
}

.description ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.description ul li:nth-child(2) {
  margin: 5px 0;
}

.description span {
  font-weight: 600;
}